{% extends 'internal.html' %}

{% block internal_menu %}
<a href="#" data-tuktuk-modal="modal-right"><span class="icon edit"></span>Nueva publicación</a>
{% endblock%}

{% block internal_body %}

    <section>
        <header class="bck light">
            <h3 class="on-left text thin">Calendario</h3>
            <nav class="on-right">
                <button class="small secondary icon chevron-left" id="calendar_prev"></button>
                <button class="small secondary" id="calendar_month">Mes</button>
                <button class="small secondary" id="calendar_week">Semana</button>
                <button class="small secondary" id="calendar_day">Dia</button>
                <button class="small secondary icon chevron-right" id="calendar_next"></button>
            </nav>
        </header>
        <article class="padding scroll">
            <div id='calendar'></div>
        </article>
    </section>

    <div id="modal-right" data-tuktuk="modal" class="side column_5">
        <header>
            <h4 class="inline text book">Nueva publicación</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article class="form">
            {% if grade %}
                <input type="hidden" id="grade" value="{{ grade.id }}" />
                <p>
                    Recuerde que esta publicación sólo será visible para el grupo actual.
                </p>
            {% else %}
                <input type="hidden" id="grade" value="" />
                <p>
                    Tenga en cuenta que la actual publicación será visible a toda la institución.
                </p>
            {% endif%}
            <br/>

            <p>
                <label>Título</label>
                <input type="text" class="anchor" name="name" id="social_name" placeholder="Ej. Importante aviso" />
            </p>
            <br/>

            <label>Mensaje</label>
            <textarea id="social_text" class="large" placeholder="Texto de la publicación"></textarea>
            Ingrese el texto que desea publicar.
        </article>
        <footer>
            <button id="sendsocialbtn">Enviar</button>
        </footer>
    </div>

{% endblock %}

{% block internal_script %}
    <script src="/javascripts/fullcalendar.min.js"></script>
    <script>
        app.social();

        $(document).ready(function() {
    
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        $('#calendar').fullCalendar({
            header : {
                left:   'title',
                center: '',
                right:  ''
            },
            editable: false,
            events: {% autoescape false %}{{ calendar }}{% endautoescape %},
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames : ['Domingo', 'Lunes', 'Martes', 'Miercoles',
 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            allDayDefault: false,
            timeFormat: 'H:mm{ - H:mm}'
        });
        
        $("#calendar_prev").on('click', function(e) {
            $('#calendar').fullCalendar('prev');
            return false;
        });

        $("#calendar_next").on('click', function(e) {
            $('#calendar').fullCalendar('next');
            return false;
        });

        $("#calendar_month").on('click', function(e) {
            $('#calendar').fullCalendar('changeView', 'month');
            return false;
        });

        $("#calendar_week").on('click', function(e) {
            $('#calendar').fullCalendar('changeView', 'basicWeek');
            return false;
        });

        $("#calendar_day").on('click', function(e) {
            $('#calendar').fullCalendar('changeView', 'basicDay');
            return false;
        });
    });

    </script>
{% endblock %}