{% extends 'grade.html' %}

{% block grade_menu %}
<nav class="on-right">
                <button class="small secondary icon chevron-left" id="calendar_prev"></button>
                <button class="small secondary" id="calendar_month">Mes</button>
                <button class="small secondary" id="calendar_week">Semana</button>
                <button class="small secondary" id="calendar_day">Dia</button>
                <button class="small secondary icon chevron-right" id="calendar_next"></button>
            </nav>
{% endblock %}

{% block grade_body %}
        <article class="padding scroll">
            <div id='calendar'></div>
        </article>
{% endblock %}

{% block internal_script %}
    <script src="/javascripts/fullcalendar.min.js"></script>
    <script>
        app.social();

        $(document).ready(function() {
    
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        $('#calendar').fullCalendar({
            header : {
                left:   'title',
                center: '',
                right:  ''
            },
            editable: false,
            events: {% autoescape false %}{{ calendar }}{% endautoescape %},
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames : ['Domingo', 'Lunes', 'Martes', 'Miercoles',
 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            allDayDefault: false,
            timeFormat: 'H:mm{ - H:mm}'
        });
        
        $("#calendar_prev").on('click', function(e) {
            $('#calendar').fullCalendar('prev');
            return false;
        });

        $("#calendar_next").on('click', function(e) {
            $('#calendar').fullCalendar('next');
            return false;
        });

        $("#calendar_month").on('click', function(e) {
            $('#calendar').fullCalendar('changeView', 'month');
            return false;
        });

        $("#calendar_week").on('click', function(e) {
            $('#calendar').fullCalendar('changeView', 'basicWeek');
            return false;
        });

        $("#calendar_day").on('click', function(e) {
            $('#calendar').fullCalendar('changeView', 'basicDay');
            return false;
        });
    });

    </script>
{% endblock %}