{% extends 'internal.html' %}

{% block internal_menu %}
<a href="#" data-tuktuk-modal="modal-right"><span class="icon edit"></span>Nueva publicación</a>
{% endblock%}

{% block internal_body %}

    <section>
        <header class="bck light">
            <h3 class="on-left text thin">{% if user.type == 'teacher' or user.type == 'user' %}Mis {% endif %}Clases</h3>
            {% if user.type == 'teacher' or user.type == 'admin' or user.type == 'administrative' %}
            <nav class="on-right">
                <a href="/grade/create" class="button small secondary icon plus"> Agregar nuevo</a>
            </nav>
            {% endif %}
        </header>
        <article class="padding scroll">
            {% for grade in grades %}
            <div class="margin padding bck light">
                
                <h4 class="text book inline"><span class="icon asterisk color theme"></span> {{ grade.name }}</h4>
                <nav class="inline on-right">
                    <a href="#" class="button secondary small"><span class="icon pencil"></span>Editar</a>
                    <a href="/grade/{{ grade.id }}" class="button small"><span class="icon off"></span>Ingresar</a>
                </nav>
            </div>
            {% endfor %}
            
        </article>
    </section>

    <div id="modal-right" data-tuktuk="modal" class="side column_5">
        <header>
            <h4 class="inline text book">Nueva publicación</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article class="form">
            {% if grade %}
                <input type="hidden" id="grade" value="{{ grade.id }}" />
                <p>
                    Recuerde que esta publicación sólo será visible para el grupo actual.
                </p>
            {% else %}
                <input type="hidden" id="grade" value="" />
                <p>
                    Tenga en cuenta que la actual publicación será visible a toda la institución.
                </p>
            {% endif%}
            <br/>

            <p>
                <label>Título</label>
                <input type="text" class="anchor" name="name" id="social_name" placeholder="Ej. Importante aviso" />
            </p>
            <br/>

            <label>Mensaje</label>
            <textarea id="social_text" class="large" placeholder="Texto de la publicación"></textarea>
            Ingrese el texto que desea publicar.
        </article>
        <footer>
            <button id="sendsocialbtn">Enviar</button>
        </footer>
    </div>

{% endblock %}

{% block internal_script %}
    <script>
        app.social();
    </script>
{% endblock %}